---
import type {ImageMetadata} from 'astro';
import {Image} from 'astro:assets';
import { Icon } from 'astro-icon/components'

interface Props {
    icon: string;
    headline: string;
    price: string;
    tagline: string;
}

const {icon, headline, price, tagline} = Astro.props;
---
    <Icon class="centered-icon" name={icon} />
    <h3>{headline}<br />{price}</h3>
    <p class="tagline">{tagline}</p>
    <p class="component-text">
        <slot />
    </p>


<style>
    h3 {
        font-size: 1.0em;

        font-family: 'Poppins';
        line-height: 1.5em;
    }
    .centered-icon {
        color: var(--bootcamp-dark-orange);
        font-size: 5em;
    }

    .component-text {
        text-align: center;
        line-height: 1.8em;
        font-weight: 300;
        font-size: 0.9em;
        margin: 0;
    }
    .tagline {
        letter-spacing: 0.1em;
        font-size: 0.7em;
    }
    @media (max-width: 740px) {
        .component-text{
            line-height: 1.5;
        }
    }
</style>
