---
import type {ImageMetadata} from 'astro';
import {Image} from 'astro:assets';
interface Props {
    name: string;
    descr: string;
    img_path: string;
}

const {name, descr, img_path} = Astro.props;
// Dynamischer Import des Bildes
const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/team/*.{jpeg,jpg,png,gif}');
const imagePath = `/src/assets/team/${img_path}`;

if (!images[imagePath]) {
  throw new Error(`"${imagePath}" not found`);
}

const { default: image } = await images[imagePath]();
---
<div class="card">
    <Image src={image} alt={name} width={900} height={900} />
    <div class="name">{name}</div>
    <div class="titel">{descr}</div>
</div>


<style>
    .card{
        padding: 2.1em 1.7em;
        text-align: center;
        border: 1px dashed var(--bootcamp-dark-orange);
        border-radius: 60px;
    }
    .card>img{
        border-radius: 50%;
        overflow: hidden;
        aspect-ratio: 1 / 1;
    }
    .name{
        margin: 20px 0 10px;
        font-weight: 500;
    }
    .titel{
        margin: 10px 0;
        font-style: italic;
        font-size: 0.9em;
        line-height: 1.4em;
    }
    @media (max-width: 1000px) {
        .card{
            padding: 1.4em 1.0em;
            text-align: center;
            border: 1px dashed var(--bootcamp-dark-orange);
            border-radius: 60px;
        }
    }
    @media (max-width: 740px) {
        .card{
            padding: 1.7em 1.2em 1.1em;
            margin: 0 auto;
            max-width: 500px;
        }
        
    }
</style>
