---
import type {ImageMetadata} from 'astro';
import {Image} from 'astro:assets';
interface Props {
    name: string;
    img_path: string;
    img_height: number;
    link: string;
}

const { name, img_path, img_height, link} = Astro.props;
// Dynamischer Import des Bildes
const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/partner/*.{jpeg,jpg,png}');
const imagePath = `/src/assets/partner/${img_path}.png`;

if (!images[imagePath]) {
  throw new Error(`"${imagePath}" not found`);
}

const { default: image } = await images[imagePath]();
---

<div>
    <Image src={imagePath} alt={`Logo ${name}`} width={img_height} height="100"/>
</div>

<style>
    img{
        width: 100%;
    }
</style>