---
import type {ImageMetadata} from 'astro';
import {Image} from 'astro:assets';
import { Icon } from 'astro-icon/components';

interface Props {
    icon: string;
    href: string;
    descr: string;
}

const {icon, href, descr} = Astro.props;
---
<a class="social-icon" href={href} target="_blank" rel="noopener">
    <Icon class="centered-icon" name={icon} />
    <div>{descr}</div>
</a>

<style>
    .social-icon{
        text-align: center;
        text-decoration: none;
    }
    .centered-icon {
        color: var(--bootcamp-dark-orange);
        font-size: 5em;
    }
    .social-icon>div{
        color: var(--bootcamp-light-orange);
        font-family: "CormorantGaramond";
        font-weight: 400;
        font-size: 1.3em;
    }
</style>
