---
import type {ImageMetadata} from 'astro';
import {Image} from 'astro:assets';

interface Props {
    imagePath: string;
    headline: string;
}

const {headline, imagePath} = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/**/*.{jpeg,jpg,png,gif}')
if (!images[imagePath]) throw new Error(`"${imagePath}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif}"`);
---

<div class="grid">
    <div class="image"></div>
    <div class="text">
        <h4>{headline}</h4>
        <slot />
    </div>

</div>


<style define:vars={{imagePath}}>
    .grid {
        display: grid;
        grid-template-columns: 0.45fr 0.6fr ;
        grid-template-rows: 1fr;
        margin: auto;
        width: 80%;
        }
    .image{
        background-image: url("https://dasbootcamp.de/wp-content/uploads/2023/10/23-10-03-15-58-15-0707-1349x2048.jpg") ; 
        border-radius: 0px 0px 0px 0px;

    }
    .text{
        color: var(--paragraph);
        margin-top: 0px;
        padding-top: 0em;
        padding-left: 2.0em;
        padding-right: 0.7em;
        text-align: left;
        border-radius: 0px 8px 8px 0px;
    }

</style>
