---
import type {ImageMetadata} from 'astro';
import {Image} from 'astro:assets';

interface Props {
    imagePath: string;
    name: string;
    titel?: string;
    instagram?: string;
}

const {imagePath, name, titel = undefined, instagram = undefined} = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/**/*.{jpeg,jpg,png,gif}')
const instagram_link = "https://www.instagram.com/" + instagram;
if (!images[imagePath]) throw new Error(`"${imagePath}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif}"`);
---
<div class="grid">
    <div>
        <Image src={images[imagePath]!()} alt="Laura"/>
    </div>
    <div class="team-name">
        {name}
    </div>
    <div class="team-titel">
        {titel}
    </div>
    <div class="team-text">
        <slot/>
    </div>
    <div>
        <a href={instagram_link} target="_blank">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="25" height="25" viewBox="0,0,256,256">
                <g transform=""><g fill="#000000" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="translate(-15.36,16.384) scale(5.12,5.12)"><path d="M16,3c-7.16752,0 -13,5.83248 -13,13v18c0,7.16752 5.83248,13 13,13h18c7.16752,0 13,-5.83248 13,-13v-18c0,-7.16752 -5.83248,-13 -13,-13zM16,5h18c6.08648,0 11,4.91352 11,11v18c0,6.08648 -4.91352,11 -11,11h-18c-6.08648,0 -11,-4.91352 -11,-11v-18c0,-6.08648 4.91352,-11 11,-11zM37,11c-1.10457,0 -2,0.89543 -2,2c0,1.10457 0.89543,2 2,2c1.10457,0 2,-0.89543 2,-2c0,-1.10457 -0.89543,-2 -2,-2zM25,14c-6.06329,0 -11,4.93671 -11,11c0,6.06329 4.93671,11 11,11c6.06329,0 11,-4.93671 11,-11c0,-6.06329 -4.93671,-11 -11,-11zM25,16c4.98241,0 9,4.01759 9,9c0,4.98241 -4.01759,9 -9,9c-4.98241,0 -9,-4.01759 -9,-9c0,-4.98241 4.01759,-9 9,-9z"></path></g></g></g>
                </svg>
            /{instagram}
    </a>
    </div>
</div>




<style>

    svg {
        padding-top:;
    }
    a {
        text-decoration: none;
    }
    .team-name {
        margin-top: 0.3em;
        margin-bottom: 0.2em;
        font-family: 'Gotu', sans-serif;
        font-size: x-large;
        font-weight: 600;
        line-height: 1.0;
    }
    .team-titel {
        padding-top: ;
        font-size: 1.1em;
        text-transform: uppercase;
        letter-spacing: 1px;
        line-height: 1.0;
    }
    .team-text {
        margin-top: 0.4em;
        text-align: justify;
        line-height: 1.2;
    }
    img {
        border-radius: 0;
        box-shadow: 3px 0px 10px #494949;
    }
    h5 {
        text-align: left;
    }
    .grid {
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 1fr 1fr 1f;
        margin: auto;
        width: 80%;
    }

</style>
